div {   
    margin: 0;
    font-family: Tahoma;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}
p {
    margin: 10px auto 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.firstdiv{
    background-color: #afddfb;


}
.firstdiv img{
    width: 150px;
}
.firstdiv p{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
p a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10 0 10;

}
.sdiv{
    margin-top: 50px;
    padding-top: 0;

}
.negrito-blue{
    font-weight: bold;
    color: #1c80c1;
}
.negrito-blue span{
    font-weight: bold;
    color: #1c80c1;

}
.tdiv h1{
    color:#1d1d1d;
    margin-bottom: 5px;

}
.tdiv h2{
    color: #1c81c0;
    font-weight: normal;
    margin-top: 0;
}
.tdiv img{
    width: 450px;

}
.fdiv {
    background-color: #1d80c1;
    color:#ffffff;

}
.branca h2{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.yellow span{
    font-weight: bold;
    color: #fff81b;
}
.fdiv p {
    text-align: center;
    width: 700px;
    color:#ffffff;

}
.fdiv ul{
    margin: 40px auto 40px auto;
    width: 135px;
}
.fdiv li{
    color:#ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;

}
.fivediv h2{
    font-size: 28px;
    line-height: 42px;
}
.fivediv img{
    width: 450px;
}
.sixdiv p{
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 15 px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sixdiv ul{
    margin: 40px auto 40px auto;
    width: 210px;
    list-style: none
}
.sixdiv li{
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}
.sixdiv a{
    background-color: #ffffff;
    color: #1d80c1;
    padding-top: 2px 5px 2px 5px;
    border-radius: 5px;

}

